<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aruuywa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DosActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".TresActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".CuatroActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".CincoActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".SeisActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".SieteActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".OchoActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".NueveActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".DiezActivity"
            android:label="AruUywa"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>